<nav class="clearfix transition-fade" id="sitenav">
    <div class="container">
        <div class="row">
            <ul class="pull-left transition-fade">
                <li>
                    <a href="/" class="nt-wrap">
                        <strong class="name-text {% if page.layout=='photos' %}photo-name-text{% endif %}">
                            Ernest Ojeh
                            <!-- <img src="{{ site.baseurl }}/img/sign.svg" width="160px"> -->
                            <!-- {% if page.layout=='photos' %}<span> - Photos</span>{% endif %} -->
                        </strong>
                    </a>
                </li>
            </ul>
            <ul class="pull-right links">
                <li class="{% if page.nav=='home' or page.layout=='case-study' %}active{% endif %}">
                    <a href="/">Work</a>
                </li>
                <li class="{% if page.nav=='about' %}active{% endif %}">
                    <a href="/about/">About</a>
                </li>
                <li class="{% if page.nav=='posts' or page.layout=='post' %}active{% endif %}">
                    <a href="/blog/">Blog</a>
                </li>
                <li class="{% if page.nav=='photos' or page.layout=='photo' %}active{% endif %}">
                    <a href="/photos/">Photos</a>
                </li>
                <li class="{% if page.nav=='contact' %}active{% endif %}">
                    <a href="/contact/">Connect</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- {% include work-overlay.html %} -->

<div id="swup" class="transition-fade">