<div class="row">
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img">
                    <a href="/staash"><img src="{{ base.url }}/img/staash.png"></a>
                </div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="/staash">Staash</a></h5>
                            <p>Collect and track your favorite products from hundreds of shopping websites.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img"><a href="/kongapay"><img src="{{ base.url }}/img/kongapay.png"></a></div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="/kongapay">KongaPay</a></h5>
                            <p>An online payments system that makes paying and getting paid simpler.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img"><a href="/appscreens"><img src="{{ base.url }}/img/appscreens.png"></a></div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="/appscreens">Appscreens</a></h5>
                            <p>A site that curates a collection of startup demo videos and screencasts.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img"><a href="/newthird"><img src="{{ base.url }}/img/newthird.png"></a></div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="/newthird">NewThird</a></h5>
                            <p>Website design for a digital design agency.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img"><a href="#"><img src="{{ base.url }}/img/trello.png"></a></div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="#">Trello Full Image</a></h5>
                            <p>A chrome extension that make the Trello "view image" modal larger.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="row">
            <div class="three columns">
                <div class="proj-img">
                    <a href="https://gumroad.com/l/mIeDv" target="_blank">
                        <img src="{{ base.url }}/img/telecoms.png">
                    </a>
                </div>
            </div>
            <div class="nine columns">
                <div class="ind-projects">
                    <ul class="list-unstyled">
                        <li class="">
                            <h5 class="article-title"><a href="https://gumroad.com/l/mIeDv" target="_blank">Nigeria Telecoms Icons</a></h5>
                            <p>Free SVG Icons of telecoms operators in Nigeria</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <span class="work-slideout__link">View all work &xrarr;</span>
    </div>
</div>