// Colors
$black: #000;
$dark: #202124;
$white: #fff;
$green: #31594c;
$blue: #2f6be3;
$gray: #48626f;
$dark-gray: #718096;
$light-gray: #c6cfd3;
$bg-gray: #f9f9f9;
$cream: #fffcf7;
$light: #e2e8f0;
$orange: #f36407;
$red: #e01f4e;
$tw: #55acee;
$fb: #48649f;
$gplus: #db4437;
$text-color: #465055;

// Fonts
$font-acumin: 'Acumin Pro', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$font-system: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

// Mixins
@mixin rounded-corners {
    $rounded-corner-radius: 4px;
    border-radius: $rounded-corner-radius;
}

@mixin circular {
    $rounded-corner-radius: 50%;
    border-radius: $rounded-corner-radius;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-input-placeholder {
    color: $light-gray;
}

::-moz-placeholder {
    color: $light-gray;
}

:-ms-input-placeholder {
    color: $light-gray;
}

:-moz-placeholder {
    color: $light-gray;
}

html {
    font-size: 64%;
}

body {
    font-family: $font-acumin;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7;
    z-index: 2;
    height: 100%;
    color: $black;
    background: $white;
    text-rendering: optimizeLegibility;

    &.no-scroll {
        overflow: hidden;   /* iOS Safari */
        -webkit-user-select: none;  /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none;  /* Internet Explorer/Edge */
        user-select: none;
        -webkit-touch-callout: none;
    }

}

html, body {
    overflow-x: hidden;
}

.preload * {
    transition: none !important;
}

.white-body {
    background: $white;

    nav {
        background: $white;
    }

}

.article-wrap .container {
    max-width: 900px;
}

.serif {
    font-family: Georgia, serif;
}

.posts-wrap {
    padding: 0 0 3em;

    .excerpt {
        padding-top: 10px;
    }

    .post-img_preview {
        a {
            display: block;
            border: 2px solid $black;
        }

        img {
            transition: ease all 300ms;
            display: block;
        }

    }

    >.muted {
        margin-bottom: .5em;
        color: $dark-gray;
        border-bottom: 1px solid $light;
    }

}

.post-row {
    padding: 1em 0;
}

a.zoom-image {
    cursor: zoom-in;
    border: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-acumin;
    font-weight: 600;
    letter-spacing: 0;
    color: $black;
}

h5 {
    font-size: 1.6rem;
}

h4 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: $blue;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
        text-decoration: underline;
    }

    &:hover, &:focus, a:active {
        transition: ease all .3s;
        text-decoration: underline;
        color: darken($blue, 5%);
    }

}

.hide-name {
    display: none;
}

.wrap-page {
    padding: 2em 0 0;

    h3 {
        margin-bottom: 1.2em;
        padding-bottom: .2em;

        &.title-with-text {
            margin-bottom: .1em;
            padding-bottom: 0;
        }

    }

    .container {
        padding: 3em 0 8em;
    }

    .button, .button:hover {
        margin-top: -5px;
    }

}

.contact-info {
    padding-top: 26px;
}

a.overclose {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: none;
}

.overclose img {
    width: 100%;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.pace, .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: $blue;
}

header {
    position: relative;
    height: 120px;
    color: $white;
    background-color: $blue;
}

header {
    h4, p {
        text-align: right;
        color: $white;
    }

}

p {
    font-size: inherit;
    margin-bottom: 1.5rem;
}

li {
    line-height: inherit;
    margin-bottom: 2px;
}

abbr, abbr[title] {
    cursor: help;
    text-decoration: none;
    border: none;
}

.btn, .btn:hover, .btn:focus {
    font-family: $font-acumin;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
    padding: 10px 20px 6px !important;
    transition: all .15s ease;
    transition: all 300ms ease;
    text-decoration: none;
    color: $white;
    border: 1px solid rgba(12, 81, 181, .34);
    border-radius: 0;
    background: $blue;

    &.btn-hollow, &.btn-hollow:hover, &.btn-hollow:focus {
        color: $blue;
        border: 1px solid $blue;
        background: transparent;
    }

    &.btn-hollow:hover {
        color: $blue;
        border-color: $blue;
        background: transparent;
    }

}

.btn:hover {
    border: 1px solid $blue;
    background-color: lighten($blue, 5%);
}

.btn:active, .btn:focus {
    background: $blue;
}

.btn:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.jd-wrap {
    position: relative;
    padding: 2.4em 0;
    border-left: 1px solid rgba(143, 161, 179, .3);
    background: $white;

    .b1, .b2 {
        transition: ease .3s color;
    }

    &:hover {
        .b1 {
            color: #003580;
        }

        .b2 {
            color: #009fe2;
        }

    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 15%;
        left: 0;
        width: 10%;
        height: 70%;
        content: '';
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    }

}

.w-right-unit {
    margin: 0 0 10px;
    padding: 5px 30px;

    .jd-title {
        margin-top: -10px;

        strong {
            margin: 0;
            color: $black;
        }

    }

    &.p-jobs .jd-title strong, &.p-jobs small {
        color: #b0bec5;
    }

}

// Site Navigation
nav {
    font-family: $font-acumin;
    position: sticky;
    top: 0;

    &.bgnav {
        width: auto;
        padding: 0;
        background: $light-gray;
    }

    ul {
        margin: 0;
        list-style-type: none;
    }

    li {
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        margin: 0;
        vertical-align: middle;

        .icon {
            font-size: 15px;
            padding-left: 3px;
        }

        &.active {
            border-bottom: 2px solid $black;

            a {
                color: $black;
            }

        }

    }

    .links li {
        margin-left: 24px;
    }

    li.hide {
        display: none !important;
    }

    a {
        font-weight: 600;
        position: relative;
        display: inline-block;
        padding: 10px 0 0;
        transition: .3s all ease;
        color: $black;
        border: none;

        &:hover, &:active {
            text-decoration: none;
            color: $black;
            border: none;
        }

        &:active {
            text-decoration: none;
            border: none;
        }

        &:focus {
            text-decoration: none;
            color: $text-color;
            border: none;
        }

        svg {
            fill: $black;
        }

        &.current {
            text-decoration: none;
            color: $black;

            svg {
                fill: $black !important;
            }

        }

        img, svg {
            float: left;
            margin: 12px 5px 0 0;
        }

        svg {
            margin: 2px 5px 0 0;
        }

        &.button.hollow {
            border: 1px solid #e8e8e8;

            &:hover, &:hover:hover {
                color: #0076ff;
                border-color: #0076ff;
            }

        }

    }

}

a.menu-btn {
    position: absolute;
    z-index: 999;
    top: 24px;
    right: 0;
    display: block;
    display: none;
    width: 20px;
    height: 14px;
    padding: 10px 0 10px 10px;
}

.alert {
    padding: 3em 0 2em;
    text-align: center;

    h5 {
        margin-bottom: 0;
    }

}

.blog-header {
    h3 {
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 0 !important;
        border-bottom: 2px solid $black;
    }
    .pagination a {
        color: $black;
    }
}

.item-unit {
    margin-bottom: 2em;
}

.home-body {
    nav, .intro.home {
        background: $cream;
    }

    .index-proj {
        margin-top: -4em;
        padding: 0 0 5em;
        background: $green;

        a {
            color: $white;
        }

        .muted {
            color: #92d4d8;
        }
        .feat-projects__title {
            border-bottom: 1px solid $gray;
            margin-bottom: 16px;

            h6 {
                color: $black;
                margin-bottom: 0;
            }
        }

    }

    .index-latest {
        padding: 4em 0;
        color: #afa99e;
        background: darken($dark, 8%);

        .talks h4 {
            color: $white;
        }

        &.photo-landing {
            padding: 6em 0;

            .photo-landing__cta-wrap {
                padding: 4em 0 0;
            }

            .row.photo-scroller {
                display: flex;

                .index-photo__grid-1 {
                    background: url("../img/index-photo__grid-1.jpg") no-repeat left top;
                    background-size: cover;
                }
                .index-photo__grid-2 {
                    background: url("../img/index-photo__grid-2.jpg") no-repeat left top;
                    background-size: cover;
                }
                .index-photo__grid-3 {
                    background: url("../img/index-photo__grid-3.jpg") no-repeat left top;
                    background-size: cover;
                }
                .index-photo__grid-4 {
                    background: url("../img/index-photo__grid-4.jpg") no-repeat left top;
                    background-size: cover;
                }
            }

            .row.photo-scroller > div {
                height: 420px;
                background: $gray
            }

            a {
                color: $white;
            }

            .white_title {
                color: $white;
                font-weight: 600;
                font-size: 3.1rem;
            }

            .photo-index__desc, .photo-index__desc h3 {
                color: $dark-gray;
                font-weight: normal;
                font-size: 3.1rem;
            }

            .photo-index__desc {
                margin-bottom: 48px;
            }

        }

        &.photo-landing .container>.row.photo-row {
            margin-bottom: 0;
        }

    }

    footer {
        background: $light;

        .row:first-child {
            padding-top: 4em;
            border-top: none;
        }

    }

}

.flex-bottom {
    align-self: flex-end;
}

.bio-wrap {
    strong.underline {
        text-decoration: underline;
    }

}

.single-project__link {
    display: grid;
    margin-bottom: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(460px, auto);
    gap: 8px;

    .single-project__cta {
        display: grid;
        place-items: center;
    }

    .single-project__cta>div {
        padding-right: 100px;
        padding-left: 100px;
    }

    h4 {
        font-size: 2.8rem;
        margin-bottom: 8px;
    }

    p {
        font-size: 2.4rem;
        margin-bottom: 32px;
    }

    a {
        font-size: 2rem;

        &:hover {
            text-decoration: none;
        }

        &>svg {
            margin-top: -2px;
            margin-left: 4px;
            vertical-align: middle;
        }

    }

    &.authy {
        color: #cbd5e0;
        background: #1a202c;

        h4 {
            color: $white;
        }

        p {
            color: #cbd5e0;
        }

        a {
            color: $white;

            &>svg path {
                fill: $white;
            }

        }

        .single-project__img-wrap {
            display: grid;
            padding: 0 32px;
            gap: 18px;
            grid-template-columns: repeat(2, 1fr);

            .device-1 {
                background: url('../img/au_1.png') no-repeat bottom left;
                background-size: contain;
            }

            .device-2 {
                background: url('../img/au_2.png') no-repeat top right;
                background-size: contain;
            }

        }

    }

    &.staash {
        background: #e2e8f0;

        h4 {
            color: #2d3748;
        }

        p {
            color: #718096;
        }

        a {
            color: #2d3748;

            &>svg path {
                fill: #2d3748;
            }

        }

        >div:last-child {
            display: grid;
            background: url('../img/st.png') no-repeat bottom right;
            background-size: contain;
            place-items: end;
        }

    }

    &.kongapay {
        background: #0090d8 url('../img/kp-bg.png') no-repeat;
        background-size: cover;

        h4 {
            color: $white;
        }

        p {
            color: #a4d6f6;
        }

        a {
            color: $white;

            &>svg path {
                fill: $white;
            }

        }

        .single-project__img-wrap {
            display: grid;
            padding: 0 32px;
            gap: 18px;
            grid-template-columns: repeat(2, 1fr);

            .device-1 {
                background: url('../img/kp_1.png') no-repeat bottom left;
                background-size: contain;
            }

            .device-2 {
                background: url('../img/kp_2.png') no-repeat top right;
                background-size: contain;
            }

        }

    }

    &.newthird {
        background: #feebc8 url('../img/nt-bg.png') right top no-repeat;
        background-size: contain;

        h4 {
            color: #4c1d0e;
        }

        p {
            color: #c05621;
        }

        a {
            color: #4c1d0e;

            &>svg path {
                fill: #4c1d0e;
            }

        }

        >div:last-child {
            display: grid;
            background: url('../img/nt.png') no-repeat bottom right;
            background-size: contain;
            place-items: end;
        }

    }

}

.about-body {
    background: $bg-gray;

    h3 {
        font-weight: 500;
        color: $dark;
    }

    footer {
        background: $bg-gray;

        .row:first-child {
            border-top: 1px solid #e7e8e8;
        }

    }

}

.ind-projects {
    .article-title {
        margin: 0;

        a, a:hover {
            color: $white;
        }

    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        color: #92d4d8;
    }

}

/* Photos page - dark */
.photos-body {
    transition: background-color 300ms ease;
    color: #93a0c5;
    background: darken($dark, 8%);

    .unit.page-top {
        padding-top: 1.2em;
    }

    .article-title, .article-title a, a {
        color: $white;
    }

    .link-ext h5 {
        margin-bottom: 0;
        color: #93a0c5;
    }

    nav {
        a {
            text-decoration: none;
            color: $white;
        }

        li.active {
            border-bottom: 2px solid $white;

            a {
                color: $white;
            }

        }

        .name-text {
            color: $white;
        }

    }

    .photo-page-single-wrap {
        .single-photo_wrap {
            margin-bottom: 1em;
        }

        .sub-photo-title {
            margin-bottom: 2em;
        }

        .gallery-link {
            position: initial !important;
        }

    }

    .sub-photo-title {
        margin: 16px 0 0;
        color: $white;

        h5 {
            font-weight: 500;
            line-height: 1;
            margin: 0;
            color: #8fa1b3;
        }

        .tiny-album-count {
            display: inline-block;
            visibility: visible;
            transition: all cubic-bezier(.455, .03, .515, .955) .3s;
            transform: translateY(0);
            opacity: .6;
            color: #97bde4;
        }

    }

    .single-photo_wrap {
        margin-bottom: 8em;

        a, a:hover {
            position: relative;
            display: block;
            text-decoration: none;
            color: rgba($light-gray, .5);
        }

        .album-count {
            position: absolute;
            top: 10px;
            right: 10px;
            display: inline-block;
            padding: 4px 10px;
            transition: all cubic-bezier(.455, .03, .515, .955) .3s;
            transform: translateY(0);
            border-radius: 6px;
            background: #ffecb3;
            // visibility: hidden;
            // opacity: 0;

            h5 {
                // visibility: hidden;
                font-size: 1.2rem;
                font-weight: 700;
                margin: 0;
                transition: all cubic-bezier(.455, .03, .515, .955) .3s;
                letter-spacing: .8px;
                text-transform: uppercase;
                color: #ef6c00;
            }

        }

    }

    footer {
        color: #93a0c5;

        a[href*='//']:not([href*='ernestojeh.com'])::after {
            border-color: transparent rgba(92, 124, 140, .4) transparent transparent;
        }

        a, a:hover {
            text-decoration: none;
            color: #93a0c5;
        }

        .foot-site a {
            color: $white;

            &:hover {
                color: $white;
            }

        }

        li {
            small {
                color: $white;
            }

        }

        .row:first-child {
            border-color: rgba(245, 245, 245, .1);

            a:hover {
                color: $white;
            }

        }

    }

}

/* End Photos page */
.intro {
    padding: 3em 0 6em;

    &.home {
        position: relative;
        box-sizing: border-box;
        padding: 0 0 10em;
        text-align: left;

        .two.columns, .one.columns {
            position: relative;
            z-index: 10;
            margin-left: 0;
        }

        .ww {
            -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
        }

    }

    &.casestudy-header {
        position: relative;
        display: block;
        height: auto;
        padding: 0;
        padding-bottom: 0;
        align-items: center;
        justify-content: center;

        .casestudy-header__controls {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 16px 0;
            background: rgba(34, 34, 34, 0.41);
            backdrop-filter: saturate(180%) blur(20px);
            border-top: 1px solid rgba(21, 50, 66, 0.1);
            color: $white;
            a {
                color: $white !important;
                font-weight: 500;
                margin-top: 4px;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
                svg path {
                    fill: $white;
                }
            }
        }

        .intro-profile {
            margin: 2.6em 0 3em;
        }

        &:before {
            display: none;
        }

        h1 {
            font-size: 3.4rem;
            margin: 0 0 10px;
        }

    }

    &.white {
        background: $white;

        h3, p, a {
            color: $black;
        }

    }

}

// Case study page
.casestudy-body {
    padding-top: 0;

    hr {
        margin-bottom: 1.4em;
    }

    nav a.button.hollow:hover, nav a.button.hollow:hover:hover {
        color: $white;
        border-color: $white;
    }

    &.authy {
        strong.name-text {
            color: #cbd5e0;
        }
        .casestudy-header {
            background: #1a202c;
            background-size: cover;
            color: $white;
            h1, a {
                color: #cbd5e0;
            }
            nav li.active {
                border-color: #cbd5e0;
            }
        }
        .casestudy-header__controls {
            background: rgb(43, 53, 80);
            border-top: 1px solid rgba(83, 150, 187, 0.23);
        }
    } // close authy

    &.kongapay {
        strong.name-text {
            color: $white;
        }
        .casestudy-header {
            background: #0090d8 url('../img/kp-bg.png') no-repeat;
            background-size: cover;
            color: $white;
            h1, a {
                color: $white;
            }
            nav li.active {
                border-color: $white;
            }
        }
    } // close kongapay

    &.staash {
        strong.name-text {
            color: #2d3748;
        }
        .casestudy-header {
            background: #e2e8f0;
            background-size: cover;
            color: #2d3748;
            h1, a {
                color: #2d3748;
            }
            nav li.active {
                border-color: #2d3748;
            }
            .project-desc {
                color: #718096;
            }
        }
    } // close staash

    &.newthird {
        strong.name-text {
            color: #2d3748;
        }
        .casestudy-header {
            background: #feebc8 url('../img/nt-bg.png') right top no-repeat;
            background-size: contain;
            color: #2d3748;
            h1, a {
                color: #4c1d0e;
            }
            nav li.active {
                border-color: #4c1d0e;
            }
            .project-desc {
                color: #c05621;
            }
        }
    } // close newthird
}

.link-arrow__cta {
    font-size: 2rem;
    color: $gray;

    & > svg {
        margin-top: -2px;
        margin-left: 4px;
        vertical-align: middle;
        path {
            fill: $gray;
        }
    }

    &.white {
        color: $white;
        & > svg path {
            fill: $white;
        }
    }
}

.unit.unit-case {
    padding-top: 0;
}

.unit.page-top {
    padding-top: 2em;
}

p.lead {
    font-size: 3.2rem;
    color: $text-color;
}

.home-box {
    position: relative;
    padding: .5em 0 0;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    box-shadow: 16px 16px 0 #ded6c5;

    a {
        color: $green;
        border-bottom: 1px solid rgba($green, .3);
        transition: ease all 0.3s;

        &:hover, &:focus, &:active {
            text-decoration: none;
            border-color: rgba($green, .8);
        }
    }

    .sub-home {
        font-size: 2.2rem;
        margin-top: 24px;
    }

    p.lead {
        font-size: 2.4rem;
        padding-top: 24px;
        color: $black;

        a {
            color: $green;
            border-bottom: none;

            svg {
                margin-left: 4px;
                vertical-align: middle;
            }

            &:hover, &:focus, &:active {
                text-decoration: none;
            }

        }

        strong {
            color: #455a64;
        }

    }

}

.intro-profile {
    position: relative;
    z-index: 20;

    h1 {
        font-family: $font-acumin;
        font-size: 4.3rem;
        font-weight: 500;
        line-height: 1.3;
        position: relative;
        margin-bottom: 1rem;
        letter-spacing: -1px;
        color: $black;

        span {
            color: #847c67;
        }

        em {
            font-style: normal;
        }

    }

}

/* External links */
nav a[href*='//']:not([href*='ernestojeh.com']), footer a[href*='//']:not([href*='ernestojeh.com']) {
    &::after {
        position: absolute;
        top: 14px;
        right: -8px;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 0 8px 8px 0;
        border-style: solid;
        border-color: transparent #b0bec5 transparent transparent;
    }

}

footer a[href*='//']:not([href*='ernestojeh.com']) {
    &::after {
        top: -2px;
        right: -8px;
        border-width: 0 6px 6px 0;
    }

}

.foot-site a[href*='//']:not([href*='ernestojeh.com']), .smallcopy a[href*='//']:not([href*='ernestojeh.com']) {
    &::after {
        display: none;
    }

}

.posts-wrap .article-title a[href*='//']:not([href*='ernestojeh.com']) {
    &::after {
        position: absolute;
        top: 6px;
        right: -16px;
        display: inline-block;
        width: 0;
        height: 0;
        content: '';
        border-width: 0 8px 8px 0;
        border-style: solid;
        border-color: transparent #b0bec5 transparent transparent;
    }

}

.list-unstyled {
    list-style-type: none;
}

a.single-project {
    position: relative;
    display: flex;
    width: 100%;
    height: 180px;
    margin: 0 0 40px;
    align-items: center;
    justify-content: center;

    &:hover, &:focus, &:active {
        text-decoration: none;
        border-bottom: none;
    }

    .proj-info {
        text-align: center;
        color: $white;

        h4, h5 {
            margin-bottom: 0;
            transition: all .3s ease;
            transform: translateY(10px);
            color: $white;
        }

        p {
            margin: 0;
            padding: 0;
            transition: all .3s ease;
            transform: translateY(6px);
            opacity: 0;
        }

    }

    &:hover {
        .proj-info {
            h4, h5 {
                transform: translateY(0);
            }

            p {
                transform: translateY(-4px);
                opacity: .7;
            }

        }

    }

    &.kongapay {
        background: #0290d8 url('../img/kongapay.jpg') no-repeat top;
        background-size: cover;
    }

    &.insidify {
        background: #0e8bbb url('../img/insidify.jpg') no-repeat top;
        background-size: cover;
    }

    &.newthird {
        background: #e24637 url('../img/newthird.jpg') no-repeat top;
        background-size: cover;
    }

    &.three-dee {
        background: #7432a0 url('../img/3d.jpg') no-repeat top;
        background-size: cover;
    }

    &.kongapay:hover, &.insidify:hover, &.newthird:hover, &.three-dee:hover {
        background-position: center top -5px;
    }

}

.unit {
    position: relative;
    padding: 4em 0;

    &.projects a {
        color: $text-color;

        &:hover, &:focus {
            color: darken($blue, 10%);
        }

    }

    &.no-pad {
        padding-top: 1em;
    }

    &.article-wrap {
        padding: 2em 0;
    }

    h2 {
        margin: 0;
    }

    &.value {
        .container {
            padding-top: 1em;
            padding-bottom: 3em;
        }

        h1, h2 {
            margin-bottom: 20px;
        }

    }

    &.contact {
        .container {
            padding-top: 2.5em;
            padding-bottom: 2.5em;
        }

        hr {
            border-color: #dfe3e8;
        }

        h1, h2 {
            margin-bottom: 20px;
        }

    }

}

.superscript {
    vertical-align: super;
}

blockquote {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0;

    &:before {
        position: absolute;
        top: 0;
        left: -30px;
        width: 4px;
        height: 100%;
        content: ' ';
        background: #cfd8dc;
    }

    p {
        font-size: 2.4rem;
        padding: 0;
    }

}

.unit-head {
    margin-bottom: 2em;
}

.browser {
    position: relative;
    margin: 1em 0 0;
    padding-top: 20px;
    background: lighten($black, 70%);
    box-shadow: 0 10px 30px 3px fade-out($black, .85);
    @include rounded-corners;

    &:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 8px;
        height: 8px;
        content: ' ';
        background: lighten($black, 40%);
        @include circular;
    }

    &:after {
        position: absolute;
        top: 6px;
        left: 23px;
        width: 8px;
        height: 8px;
        content: ' ';
        background: lighten($black, 40%);
        box-shadow: 13px 0 0 0 lighten($black, 40%);
        @include circular;
    }

    &:hover {
        .browser-title {
            opacity: 1;
        }

    }

    img {
        width: 100%;
        vertical-align: bottom;
        border-radius: 0 0 5px 5px;
    }

}

.m-design {
    min-height: 700px;
    padding-top: 5em;
    padding-bottom: 8em;
    background: url(../img/mobile-design1.jpg) right 10em no-repeat;
    background-size: 100% auto;

    &.follow-up {
        min-height: 630px;
        margin-top: 0;
        padding-top: 0;
        background: url(../img/mobile-design2.jpg) left top no-repeat;
        background-size: 100% auto;
    }

}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.w-exp {
    li strong {
        color: #222;
    }

    li span {
        padding-left: 20px;
    }

}

.ftname {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
}

.ftmail {
    color: #929db1;
}

.text-center {
    text-align: center;
}

hr {
    margin: 10px 0;
    border-color: fade-out($black, .8);
}

.grid-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    img {
        float: left;
        width: 100%;
        height: auto;
    }

}

.grid-list {
    &:hover {
        .overlay {
            opacity: 1;
        }

        >a img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

    }

    >a img {
        transition: all .3s ease;
    }

}

.show-mobile {
    display: none;
}

.button, .button:hover {
    font-family: $font-acumin;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
    letter-spacing: inherit;
    text-transform: inherit;
    color: $white;
    border: none;
    border-radius: 10px;
    background-color: $blue;

    &:hover {
        background-color: darken($blue, 3%);
    }

}

.button:focus {
    color: $white;
}

.button.hollow, .button.hollow:hover {
    color: $blue;
    border: 1px solid $blue;
    background: transparent;

    &:hover {
        color: darken($blue, 20%);
        border-color: darken($blue, 20%);
    }

}

.about-sign__wrap {
    svg {
        path {
            fill: $black;
        }

    }

}

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.article-title {
    position: relative;
    display: table-cell;
    margin: .1em 0 0;

    a {
        text-decoration: none;
        color: $black;
        border-bottom: none;

        &:hover {
            color: $blue;
        }

    }

}

.article-body {
    margin: 1em 0 5em;

    .button {
        margin-top: 15px;
    }

    img {
        display: block;
        margin: 0 auto 30px;
    }

}

.profile-feat__photo {
    .flex-bottom h4 {
        margin-bottom: 4px;
    }

}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

.full-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.fullest-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.year-title {
    font-weight: 400;
    text-align: center;
    color: rgba(143, 171, 185, .5);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.photo-caption {
    font-size: 13px;
    margin: 0 0 2em;
    color: #71767f;
}

.sub-title {
    font-weight: 400;
    margin: .5em 0 .8em;
}

.date {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: #8399a8;
}

.post-wrap {
    padding: 3em 0;

    .article-title {
        font-size: 3.2rem;
        font-weight: 700;
    }

}

.post-control {
    padding: 3em 0;
    a {
        color: $black;
        font-weight: 600;
    }
}
    

.work-preview {
    z-index: 1;
    margin-top: 2em;
    margin-left: -13em;
    padding: 3em;
    background: #f5f5f5;
}

.post-body {
    padding-top: 2em;

    h4 {
        margin-top: 1.8em;
    }

    p {
        line-height: 2;
    }

    li {
        margin: 0 0 10px;
    }

}

.intro-avatar {
    img {
        margin: 25px 0 0;
    }

}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.working-on {
    height: 100%;
    padding: 10px;
    border-left: 1px solid $light-gray;

    h4 {
        margin-bottom: 0;
    }

}

.w-unit {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 3px;

    h4 {
        margin: 0 0 5px;
    }

}

.intro .w-unit p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
}

.muted {
    font-weight: 600;
    color: $orange;
}

.orange-text {
    color: $orange;
}

.gray-text {
    color: $gray;
}

.faded {
    color: $light-gray;
}

.avatar-img {
    width: 80%;
    margin: 0;
    transition: ease all .3s;
    opacity: 1;
    box-shadow: 8px 8px $light-gray, 0 4px 8px rgba(17, 35, 56, .04), 0 0 8px rgba(17, 35, 56, .04), 0 18px 27px rgba(17, 35, 56, .11);
}

.about-left {
    margin-top: 24px;

    h5, p {
        margin-bottom: 0;
    }

}

.talks {
    h4 {
        margin-bottom: 10px;
    }

    p {
        display: flex;

        a {
            display: contents;
        }

    }

    h5 {
        margin-bottom: 10px;
    }

    li {
        margin: 1em 0 2.4em;
    }

}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

strong, .strong {
    font-weight: 600;
}

.mini {
    font-size: 1.5rem;
}

.text-right {
    text-align: right;
}

.pagi {
    margin: 4em 0 10em;

    a {
        font-size: 20px;
        display: inline-block;
        width: 100%;
        padding: 2em;
        border: none;
        background: $white;

        small {
            color: $dark-gray;
        }

    }

    .column, .columns {
        width: 49.9%;
        margin-left: .1%;
    }

}

time {
    color: $dark-gray;
}

.pull-right {
    float: right;
}

.nt-wrap {
    padding: 0;
}

strong.name-text {
    font-family: $font-acumin;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-right: 0;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: $black;
}

.back-link-wrap {
    margin: 0 0 40px;
}

.back-link {
    display: block;
    height: 64px;
    margin: 0 20px 0 0;
    padding: 10px;
    border: 1px solid rgba(127, 146, 156, .51);
    border-radius: 3px;
    background: $white;

    svg {
        margin: 14px 2px 0 0;
        fill: $blue !important;
    }

}

.back-link:hover {
    border: 1px solid rgba(127, 146, 156, .9);

    svg {
        margin: 14px 2px 0 0;
        fill: rgba(33, 148, 212, 1) !important;
    }

}

.share-box {
    margin: 0 0 6em;
    text-align: center;

    p {
        margin-bottom: .5em;
    }

    a, a:hover {
        font-size: 16px;
        padding: 4px 16px !important;
        text-decoration: none;
        border-radius: 4px;
    }

    svg {
        margin: 6px 8px 0 0;
        fill: $white;
    }

    a.fb {
        background: $fb;

        &:hover {
            background: darken($fb, 10%);
        }

    }

    a.tw {
        background: $tw;

        &:hover {
            background: darken($tw, 10%);
        }

    }

}

.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.tw {
    text-transform: none !important;
    background: $tw;

    &:hover {
        background: darken($tw, 10%) !important;
    }

}

.sv a:hover svg g {
    fill: $black !important;
}

.to-top {
    font-style: normal;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
    color: $dark;
    border: 1px solid $light;
    border-radius: 5px;
    background-color: $white;
}

.to-top:hover, .to-top:focus, .to-top:active {
    color: $dark;
    border-color: lighten($black, 60%);
}

[disabled], [disabled]:hover {
    cursor: not-allowed;
    color: rgba(140, 155, 170, .43);
}

.case-logo {
    margin: 0 0 10px;
}

.like-link {
    font-size: 15px;
    margin: 20px 0 0;
    padding: 0 15px;
    letter-spacing: normal;
    text-transform: capitalize;
    border: none;
    background: $white;
}

button, .button {
    letter-spacing: normal;
}

.like-link i {
    color: $red;
}

.not-white {
    background: #f6f7f8;
}

.upd {
    font-size: 12px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 3px 10px 2px;
    vertical-align: middle;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: $white;
    border-radius: 12px;
    background: $red;
}

.page-title {
    margin-bottom: .5em !important;
    letter-spacing: -1px;
}

.full-photo {
    width: 100%;
}

.app-screenshot {
    img {
        margin-bottom: 40px;
        box-shadow: 0 4px 10px rgba(0, 39, 36, .1);
    }

}

.full-vw {
    width: 100vw;
}

ul.social {
    margin: .5em 0 .6em;
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 20px 0 0;

        svg {
            width: 24px;
            transition: opacity .3s ease;
            fill: $gray;
        }

        a:hover, a:focus, a:active {
            text-decoration: none;
            border-bottom: none;
        }

    }

    &:hover svg {
        transition: opacity .3s ease;
        opacity: .7;
    }

    &:hover svg:hover {
        transition: opacity .3s ease;
        opacity: 1;
    }

}

body.modal-open {
    overflow: hidden;
}

.modal-box-wrap {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    align-items: center;
    justify-content: center;

    .modal {
        position: relative;
        z-index: 999;
        padding: 2em;
        transition: all .25s cubic-bezier(.7, 0, .3, 1);
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
        text-align: center;
        pointer-events: none;
        opacity: 0;
        color: $text-color;
        border-radius: 4px;
        background: $white;
        box-shadow: 0 4px 10px rgba(0, 39, 36, .36);
        will-change: transform;

        a {
            text-decoration: none;
            color: $blue;
        }

    }

    .modal-background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s ease;
        opacity: 0;
        background: rgba(27, 39, 51, .95);
    }

    &.active {
        pointer-events: auto;
        opacity: 1;

        .modal {
            transition-delay: 200ms;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            pointer-events: auto;
            opacity: 1;
        }

        .modal-background {
            opacity: 1;
        }

    }

}

.close-modal {
    font-size: 1.8em;
    line-height: .96em;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 0;
    padding: 0 0 3px;
    cursor: pointer;
    text-align: center;
    color: #8a8a8a;
    border-radius: 0 4px;
    justify-content: center;
    align-items: center;
}

code {
    font-size: 80%;
    border: none;
    background: transparent;
}

pre>code {
    padding-top: 1em;
    padding-bottom: 1em;
}

.highlight {
    border-radius: 4px;
}

.highlighter-rouge {
    ::-moz-selection {
        background: rgba(0, 0, 0, .4);
    }

    ::selection {
        background: rgba(0, 0, 0, .4);
    }

}

.unit.page-wrap {
    padding-top: 0;
}

.contact-form {
    padding-top: 0;

    .contact-title {
        border-bottom: 2px solid $black;
        margin-bottom: 0 !important;
    }

    label {
        margin: 0;
        color: $black;
    }

    input, textarea {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 12px 15px 8px;
        transition: all 400ms ease;
        border: 2px solid rgba(60, 93, 109, .28);
        border-radius: 0;
        background: $white;

        &:focus {
            border: 2px solid $blue;
            background: $white;
            box-shadow: 0 1px 1px rgba(84, 110, 122, .2) inset, 0 0 3px rgba(0, 105, 255, .48);
        }

    }

    textarea {
        resize: none;
    }

}

.button, button, input[type='submit'], input[type='reset'], input[type='button'] {
    font-size: inherit;
    line-height: 30px;
    height: auto;
    padding: 6px 18px !important;
    text-transform: none;
}

.chat-wrap {
    padding: 1.2em 0 0;
}

.chat {
    clear: both;
    margin: .6em 0;
    padding: 10px 20px;
    border: 1px solid $light-gray;
    border-radius: 0 20px 20px;
    background: $white;

    p {
        margin-bottom: 8px;
    }

    &.pull-right {
        color: $white;
        border: none;
        border-radius: 20px 0 20px 20px;
        background: $blue;

        small {
            color: $white;
        }

    }

    small {
        color: $blue;
    }

}

.share-wrap {
    padding: 0 0 2em;
}

.force-hide {
    display: none !important;
}

.proj-img {
    margin-bottom: 24px;

    >a, img {
        display: block;
    }

}

footer {
    font-family: $font-acumin;
    color: $dark-gray;

    li small {
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
    }

    .smallcopy {
        font-weight: 600;
        color: $dark-gray;
    }

    small {
        font-size: 90%;

        a {
            font-weight: 500;
        }

    }

    ul {
        margin-bottom: 1em;
    }

    a {
        position: relative;
        color: #607682;
    }

    a:hover {
        text-decoration: none;
        color: $black;
    }

    .row:first-child {
        padding-top: 2em;
        border-top: 1px solid $light;
    }

    .foot-site {
        margin-top: 1.5em;

        a {
            color: $blue;
        }

    }

}

.project-desc {
    font-family: $font-acumin;
    font-size: 1.8rem;
    margin-top: 1.2em;
}

.pagination {
    display: inline-block;
    margin: 1em 0 0;

    a {
        font-weight: 600;

        &:hover, &:focus {
            text-decoration: none;
        }

    }

    .next {
        padding-left: 24px;
        border-left: 1px solid $light-gray;
    }

    .previous {
        padding-right: 24px;
        border-radius: 6px 0;
    }

    a, span {
        display: inline-block;
        padding: 10px 0;
    }

    .page_number {
        padding-right: 20px;
        padding-left: 20px;
        border-left: 1px solid $light-gray;
    }

    .disabled {
        color: $light-gray;
    }

}

.photo-info {
    display: flex;
    overflow-x: auto;
    margin-right: -20px;
    margin-bottom: 2em;
    padding: 0;
    border-bottom: 1px solid rgba(118, 126, 165, .1);
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    .column, .columns {
        width: auto !important;
        padding-right: 38px !important;
        flex: 0 0 auto;
    }

    h6 {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(118, 126, 165, .68);
    }

    p {
        color: #8189b1;
    }

}

.photo-info h6 {
    margin-bottom: 0;
}

.photo-footnote {
    margin-bottom: 20px;

    a {
        font-size: 1.4rem;
        display: block;
        padding: 5px 15px;
        text-align: center;
        border-radius: 25px;
        background: #17313e;

        &:hover {
            text-decoration: none;
        }

    }

}

// Photo + Lazy loading

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
        content: '';
    }

    >img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}

.image-wrapper {
    position: relative;    /* You define this doing height / width * 100% */
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background: #01070a;
    @include aspect-ratio(16, 9);

    img {

        /*height: auto;*/
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        opacity: 0;
    }

    img:not(.initial) {
        transition: opacity 1s;
    }

    img.initial, img.loaded, img.error {
        opacity: 1;
    }

    img.loading {
        // background: url("../img/loading.gif") no-repeat 50% 50%;
        // opacity: 1;
    }

    /* Prevents img without src to appear */
    img:not([src]) {
        visibility: hidden;
    }

}

// End Photo + Lazy loading

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.link-ext {
    margin-bottom: 16px;
}

.about-photos_link {
    font-size: 1.6rem;
    position: fixed;
    z-index: 999;
    right: 12px;
    bottom: 12px;
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1);
    opacity: 1;
    color: $white;
    border-radius: 8px 8px 0;
    background: $blue;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    &.hide {
        transform: translateY(100%);
        opacity: 0;
    }

    .photo-page-info {
        display: none;
        -webkit-animation: fadeIn .8s;
        animation: fadeIn .8s;
    }

    .anchor-text_open {
        padding: 10px 12px 8px;
    }

    a {
        font-weight: 600;
        text-decoration: underline;
    }

    .anchor-text_close {
        float: right;
    }

    .anchor-text_open, .anchor-text_close {
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: scale(1);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;

        svg {
            display: inline-block;
            float: left;
            transition: ease all .3s;
            transform: translateY(4px);
            vertical-align: middle;
            opacity: .6;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
        }

    }

    .anchor-link-text {
        display: inline-block;
        margin-left: 8px;
    }

    .link-ext {
        small {
            color: rgba($white, .7);
        }

    }

    .photo_about_bottom, .anchor-text_close {
        display: none;
    }

    .anchor-text_close, .anchor-text_open {
        animation: fadeIn .6s;
    }

    &.clicked {
        width: calc(100% - 20px);
        max-width: 280px;
        height: auto;
        padding: 20px 20px 0;
        transform: translateY(-10px);

        .photo-page-info {
            display: block;
        }

        .anchor-text_open {
            display: none;
        }

        .anchor-text_close {
            padding-top: 8px;
            padding-bottom: 12px;
        }

        .photo_about_bottom, .anchor-text_close {
            display: block;

            hr {
                border-color: rgba($white, .2);
            }

        }

    }

}

.trans-overlay, .work-menu__trans-overlay {
    position: fixed;
    z-index: 888;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    visibility: hidden;
    transition: ease all 500ms;
    transition-delay: 500ms;
    opacity: 0;
    background: rgba(255, 255, 255, .3);

    &.show {
        visibility: visible !important;
        opacity: 1;
    }

}

.photos-body .trans-overlay {
    background: rgba(0, 0, 0, .68);
}

.sucess-sent-icon {
    margin-bottom: 10px;
}

.window-wrap {
    position: relative;
    overflow: hidden;
    min-height: 170px;
    margin-bottom: 6em;
    border: 2px solid #dbdbe5;
    border-radius: 8px;
    background: #dbdbe5;
    box-shadow: rgba(0, 0, 0, .2) 0 24px 40px 0;

    &::before {
        display: block;
        height: 24px;
        content: '';
        background: #dbdbe5;
    }

    &::after {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 12px;
        height: 12px;
        content: '';
        border-radius: 50%;
        background: #ff6058;
        box-shadow: 20px 0 0 #fbba2d, 40px 0 0 #28ca41;
    }

    img {
        display: block;
        width: 100%;
    }

}

.no-window-wrap img {
    display: block;
    width: 100%;
}

.fancybox-button {
    width: 64px !important;
    height: 64px !important;
    background: transparent !important;
}

.fancybox-button--arrow_right, .fancybox-button--arrow_left {
    width: 84px !important;
    height: 84px !important;
}

.fancybox-infobar {
    font-size: 15px !important;
    padding: 16px 10px 0 26px !important;
}

.fancybox-bg {
    opacity: .96 !important;
    background: #0b0e13 !important;
}

.work-menu__overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    overflow-y: auto;
    width: 50vw;
    height: 100%;
    -webkit-transition: transform .8s cubic-bezier(.78, 0, .174, 1);
    transition: transform .8s cubic-bezier(.78, 0, .174, 1);
    transform: translateX(-52vw);
    color: $white;
    background: #191818;
    -webkit-overflow-scrolling: touch;

    .work-menu__close {
        font-size: 1.5rem;
        position: absolute;
        top: 36px;
        right: 0;
        display: block;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: #919395;
    }

    &.show {
        transform: translateX(0);

        .work-list, .work-title {
            transform: translateX(0);
            opacity: 1;
        }

    }

    .work-title {
        padding: 4em 0;
        transition: all .8s ease;
        transition-delay: 380ms;
        transform: translateX(-20px);
        opacity: 0;

        h4 {
            margin-top: 12px;
            color: $white;
        }

    }

    .work-list {
        transition: all .85s cubic-bezier(.165, .84, .44, 1);
        transition-delay: 420ms;
        transform: translateX(-40px);
        opacity: 0;

        li {
            a {
                position: relative;
                color: #919395;
                border-bottom: none;

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    content: '';
                    transition: ease all 300ms;
                    transform: scaleX(0);
                    transform-origin: left top;
                    opacity: 0;
                    background: $white;
                }

                &:hover {
                    color: $white;
                    border-bottom: 0;

                    &:after {
                        transform: scaleX(1);
                        opacity: 1;
                    }

                }

            }

        }

    }

}

.work-overlay_open #swup {
    transition: ease all 500ms;
    transition-delay: 500ms;
    transform: scale(.982);
}

.work-slideout__link {
    cursor: pointer;
    color: $white;

    &:hover {
        text-decoration: underline;
    }

}

.work-list {
    position: relative;
    z-index: 10;
    margin: 4em 0;

    li {
        margin-bottom: 4px;

        a {
            font-size: 3.6rem;
            font-weight: 500;
            transition: ease all 300ms;
            color: #919395;
            border-bottom: 1px solid #edf2f7;

            &:hover, &:focus {
                text-decoration: none;
                color: $black;
                border-bottom: 1px solid $black;
            }

        }

    }

}

.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}
