---
layout: default
---

<div class="animate-wrap"> <!-- closes in footer -->

<section class="unit move-up">
  <div class="container">
    <div class="row">
        <div class="two columns">
            <div class="post-control">
                <a href="/posts">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                        <path d="M201.765624,2426.67231 C202.078125,2426.97613 202.078125,2427.46833 201.765624,2427.77213 C201.453123,2428.07596 200.946851,2428.07596 200.634372,2427.77213 L194.234376,2421.54991 C193.921875,2421.24609 193.921875,2420.75389 194.234376,2420.45009 L200.634372,2414.22787 C200.946873,2413.92404 201.453144,2413.92404 201.765624,2414.22787 C202.078104,2414.53169 202.078125,2415.02389 201.765624,2415.32769 L195.930428,2421.0008 L201.765624,2426.67231 Z" transform="translate(-194 -2414)"/>
                    </svg>&nbsp; 
                    Back to all posts
                </a>
            </div>
        </div>
        <div class="nine columns offset-by-one">
        <div class="post-wrap">
            <h4 class="article-title">{{ page.title }}</h4>
                <p class="date">Published on {{ page.date | date_to_string }} &middot; {% include reading-time.html %} read</p>
            <!--small><a href="https://github.com/namzo/ernestojeh.com/tree/master/{{ page.relative_path }}" target=_blank">Edit this page</a></small-->
            
            <div class="post-body">
                {{ content }}
                </div>
            </div>
        </div>
    </div>
  </div>
</section>


{% include share-links.html %}